<div class="container-ui" ng-controller="syspages.views.enterprise.category as vm">
    <cmd>
        <span class="btn btn-success" ng-click="vm.edit()">{{ 'CreateCategory' | translate}}</span>
    </cmd>
    <div class="row">
        <div class="col-xs-12" ng-show="vm.isLoaded && (!vm.models || vm.models.length == 0)">{{ 'NoWorkflowCategoryYetClickUpperRightToCreate' | translate}}</div>


        <list-view ng-hide="vm.isLoaded && (!vm.models || vm.models.length == 0)" head="{{ 'WorkflowCategory' | translate}}" models="vm.models" paging="vm.paging" load="vm.load">
            <div class="content-list">
                <table class=" table datatable">
                    <thead>
                    <tr>
                        <!-- 以下两列左侧固定 -->
                        <th>#</th>
                        <th>{{ 'Name' | translate}}</th>

                        <!-- 以下三列中间可滚动 -->
                        <th class="flex-col">{{ 'Code' | translate}}</th>
                        <th class="flex-col">{{ 'Type' | translate}}</th>
                        <th class="flex-col">{{ 'CreationDate' | translate}}</th>
                        <!-- 以下列右侧固定 -->
                        <th>{{ 'Operation' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in vm.models">
                        <td>{{$index}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.code}}</td>
                        <td>{{i.type}}</td>
                        <td>{{i.creationTime | date:'yyyy-MM-dd'}}</td>
                        <td>
                            <a class="text-primary" ng-click="vm.detail(i)">{{ 'ViewWorkflow' | translate}}</a> <a class="text-muted"><i class="icon-edit" ng-click="vm.edit(i)"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="content-blocker">
                <div class="col-md-3 col-sm-4 col-lg-2" ng-repeat="i in vm.models">
                    <div class="card">
                        <div class="card-body">
                            <div class="visual">
                                <i class="icon icon-8x icon-window-alt"></i>
                            </div>
                            <div class="card-content">
                                <h4>{{i.name}}</h4>
                                <p>
                                    {{ 'Code' | translate}}: {{i.code}}<br />{{i.creationTime | date:'yyyy-MM-dd'}}
                                </p>

                            </div>
                            </div>
                            <div class="card-actions">
                                <span class="btn btn-primary btn-sm" ng-click="vm.detail(i)" role="button">{{ 'ViewWorkflow' | translate}} &raquo;</span>
                                <span class="btn btn-default btn-sm" role="button" ng-click="vm.edit(i)">{{ 'Edit' | translate}}</span>
                                <span class="btn btn-danger btn-sm" role="button" message="{{ 'SureForDeleteThisCategory' | translate}}" confirm-click="vm.delete(i)"><span class="icon icon-trash" aria-hidden="true"></span></span>
                            </div>
                        </div>
                </div>
            </div>
        </list-view>
    </div>
</div>