/****************************************/
/**********延锋电子专用页面CSS样式**********/
/****************************************/

h1, h2, h3, h4, h5, h6 {
    color: #555;
}

.fm-form-block .normal[required],
.fm-form-block .normal[required] .fm-text-shadetext,
.fm-form-block .normal[required] input:not([type="button"]):not([type="submit"]),
.fm-form-block .normal[required] textarea {
    /*background-color: #FAFFBD;*/
}

.container-fluid.nav-main {
    background-color: #a0aec4;
}

    .container-fluid.nav-main > .collapse.navbar-collapse > .nav > li > a {
        color: white;
        background-color: #a0aec4;
    }

    .container-fluid.nav-main > .collapse.navbar-collapse > .nav > li:hover > a {
        background-color: rgba(50,50,50,0.15);
    }

    .container-fluid.nav-main > .navbar-header > a {
        color: white;
    }

    .container-fluid.nav-main > .collapse.navbar-collapse > .navbar-nav li span {
        margin: 6px;
    }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
}

.container-fluid.nav-sub > .navbar-collapse {
    background: #4F5467;
}

[ng-app=syspages] > body {
    background-color: #edf1f5;
}

.card {
    background-color: white;
}


.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-header-logo {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}

.navbar-brand {
    padding: 20px 10px;
    margin-left: 10px;
}

.my-submenu {
}

    .my-submenu > .my-submenu-linkbutton {
        color: #a6acbc;
        padding: 12px 18px 6px 18px;
        border-bottom: 3px solid transparent;
    }

        .my-submenu > .my-submenu-linkbutton > .my-submenu-linkbutton-icon {
            display: block;
            color: #a6acbc;
            padding-bottom: 5px;
            text-align: center;
        }

    .my-submenu.subMenuActive {
        border-bottom: none;
    }

        .my-submenu.subMenuActive > .my-submenu-linkbutton {
            color: white;
            border-bottom: 3px solid #a0aec4;
        }

            .my-submenu.subMenuActive > .my-submenu-linkbutton > .my-submenu-linkbutton-icon {
                color: white;
            }

    .my-submenu:not(.subMenuActive):hover > .my-submenu-linkbutton,
    .my-submenu:not(.subMenuActive):focus > .my-submenu-linkbutton {
        padding-top: 15px;
        padding-bottom: 3px;
        color: #a6acbc;
    }

.nav.navbar-nav > .my-submenu > .my-submenu-linkbutton:hover,
.nav.navbar-nav > .my-submenu > .my-submenu-linkbutton:focus {
    background-color: #393e4f;
}

.my-supermenu {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    backface-visibility: visible !important;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
}

    .my-supermenu > li.divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
        transform: perspective(400px) rotate3d(0,1,0,-5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
        transform: perspective(400px) rotate3d(0,1,0,-5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.nav-main a {
    font-size: 16px;
}

.dashboard-block .main-title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #EEE;
    color: #73c7d2;
}

    .dashboard-block .main-title > span > i {
        font-size: 16px;
        height: 115px;
    }

.dashboard-block .more-info {
    right: 26px;
    bottom: 3px;
}

.page-content-div {
    border: none;
    padding-bottom: 30px;
}

    .page-content-div .page-list-div {
        overflow-y: auto;
        height: calc(100% - 49px);
    }

        .page-content-div .page-list-div > ul > li {
            height: 34px;
            background-color: #fafafa;
            color: #82949a;
            padding-top: 4px;
            padding-left: 10px;
            margin-bottom: 7px;
            border-bottom: none;
        }

.my-card {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -webkit-transition: all .4s cubic-bezier(.175, .885, .32, 1);
    transition: all .4s cubic-bezier(.175, .885, .32, 1);
    overflow: visible;
    background-color: white;
    border-radius: 4px;
    bottom: 0px;
    overflow: hidden;
}

    .my-card > .card-body {
        height: 115px;
    }

        .my-card > .card-body .card-content {
            padding-top: 11px;
            padding-left: 15px;
            padding-right: 0px;
            width: 100%;
        }

            .my-card > .card-body .card-content > h2 {
                font-weight: normal;
                font-size: 14px;
                color: #888;
                /*white-space: nowrap;*/
                overflow-x: hidden;
                width: calc(100% - 10px);
                text-overflow: ellipsis;
                cursor: pointer;
                overflow: hidden;
            }

                .my-card > .card-body .card-content > h2 > i {
                    display: block;
                    margin-left: 0px;
                    margin-bottom: 8px;
                    color: #999;
                }

        .my-card > .card-body > .colorblock {
            display: block;
            position: absolute;
            height: 3px;
            background-color: #eee;
            width: calc(100% - 30px);
            bottom: 26px;
            left: 15px;
        }

            .my-card > .card-body > .colorblock > div {
                position: absolute;
                width: 50%;
                background-color: orange;
                height: 3px;
                top: 0px;
                left: 0px;
                transition: 0.2s;
            }

    .my-card:hover {
        transition: 0.2s;
        box-shadow: 1px 1px 2px rgba(100,100,100,0.2);
    }

        .my-card:hover > .card-body > .colorblock > div {
            transition: 0.2s;
            width: 100%;
        }

    .my-card .icon-star {
        display: block;
    }

        .my-card .icon-star:not(.orangered) {
            transition: 0.2s;
            opacity: 0.0;
        }

    .my-card:hover .icon-star:not(.orangered) {
        transition: 0.2s;
        opacity: 1.0;
    }

    .my-card .card-button {
        display: inline-block;
        position: absolute;
        top: 4px;
        right: 6px;
        cursor: default;
    }

        .my-card .card-button > span {
            position: relative;
            background-color: transparent;
            border: none;
            padding-left: 4px;
            padding-right: 4px;
            transition: color 0.2s;
            color: #a0aec4;
            cursor: pointer;
        }

            .my-card .card-button > span:hover {
                transition: color 0.2s;
                color: #4F5467;
                box-shadow: none;
            }

    .my-card .card-detail {
        display: inline-block;
        position: absolute;
        bottom: 55px;
        left: 15px;
        line-height: 14px;
        font-size: 12px;
        color: #aaa;
    }

.nav.navbar-nav > .dropdown > a {
    font-size: 15px;
}

.nav .open > a .caret, .nav .open > a:hover .caret, .nav .open > a:focus .caret,
.nav a:hover .caret,
.nav .caret {
    border-top-color: white;
    border-bottom-color: white;
}


/*流程中心样式*/
.menu > .nav {
    box-shadow: 1px 1px 1px rgba(100,100,100,0.1);
}

    .menu > .nav > li > .nav {
        background-color: white;
    }

        .menu > .nav > li > .nav > li > a {
            border-bottom: none !important;
            border-top: none !important;
        }

    .menu > .nav > li:first-child > a,
    .menu > .nav > li:first-child.nav-heading,
    .menu > .nav > li:last-child > a {
        border-bottom: none !important;
        border-top: none !important;
    }

    .menu > .nav > li > .nav > li.active > a, .menu > .nav > li > .nav > li.active > a:hover, .menu > .nav > li > .nav > li.active > a:focus {
        background-color: #4F5467;
        border-color: #4F5467;
    }

.ma-center-warper .page-content {
    padding-top: 0px;
}

.container-main {
    margin-top: 155px;
}

#cmd span {
    margin: 14px;
}



.btn-success {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4aab4e;
}

.btn-default {
    color: #353535;
    background-color: #f2f2f2;
}

.btn-info {
    color: #fff;
    background-color: #01c0c8;
    border-color: #01c0c8;
}

    .btn-info:hover {
        background-color: #00a0af;
    }

.btn-danger {
    color: #fff;
    background-color: #f36a5a;
    border-color: #f36a5a;
}

.btn-primary {
    color: white;
    background-color: #4F5467;
    border-color: #4F5762;
}

    .btn-primary:hover {
        background-color: #393e4f;
    }

.btn-theme {
    color: white;
    background-color: #4F5467;
    border-color: #4F5762;
}

    .btn-theme:hover {
        background-color: #393e4f;
    }

.visual {
    -ms-opacity: 0.2;
    opacity: 0.2;
}


.user-login-5 .login-container > .login-content > .login-form {
    margin-top: calc(50vh - 125px);
}

.menu > .nav > .nav-parent > a {
    font-size: 16px;
}

.btn > i {
    vertical-align: middle;
    line-height: 15px;
    font-size: 14px;
}

/*隐藏按钮（迟格*/
.hide-import .btn-import {
    display: none;
}
.hide-download .btn-download {
    display: none;
}


@media print {
      body.print-preview, 
        .print-preview h1,
        .print-preview h2,
        .print-preview h3,
        .print-preview h4,
        .print-preview h5, 
        .print-preview .form-container .form-small-title
        .print-preview .ma-select.input-sm,
        .print-preview .fm-text.readonly.input-sm .fm-text-shadetext, 
        .print-preview .table-detail > thead > tr > th,
        .print-preview .overflow-singleline,
        .print-preview .table-condensed th,
        .print-preview .table-condensed td,
        .print-preview .input-sm,
        .print-preview .fm-text.multiline.readonly pre,
        .print-preview .fm-group-head hr, 
        .print-preview .required::after,
        .print-preview .ma-data-select.single > .select-data-value > .item, /*fm-select item*/
        .print-preview .ma-select.single > .select-value > .item
        {
            line-height: normal;
            font-size: 8px;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            padding: 0px;
          }
        .print-preview .table-detail > thead > tr > td:first-child.checktd, 
        .print-preview .table-detail > thead > tr > th:first-child.checktd, 
        .print-preview .table-detail > tbody > tr > td:first-child.checktd,
        .print-preview .table-approve-history th:last-child,                  
        .print-preview .table-approve-history td:last-child,
        .print-preview button.btn,
        .print-preview input[type=button].btn,
        .print-preview .print-hide,
        .print-preview .table-detail > tfoot,
        .print-preview input[type=button], 
        .print-preview input[type=submit],
        .print-preview .btn,              
        .print-preview .fm-attachment{
            display: none !important;
        }
        .print-preview .table-approve-history td {
            -moz-min-width: 60px;
            -ms-min-width: 60px;
            -o-min-width: 60px;
            -webkit-min-width: 60px;
            min-width: 60px;
        }
        .print-preview .ma-data-select.input-sm > .select-data-value,
        .print-preview .form-container .form-label,
        .print-preview .ma-select.input-sm > .select-value,
        .print-preview .fm-text.multiline.readonly pre,
        .print-preview .ma-select.single.input-sm > .select-value > .item,
        .print-preview .overflow-singleline,
        .print-preview .fm-text.input-sm.readonly > .fm-text-shadetext,
        .print-preview .fm-text.input-sm.disabled > .fm-text-shadetext,
        .print-preview .fm-text.readonly.input-sm,
        .print-preview .ma-select.input-sm > .select-value,
        .print-preview .ma-data-select.single > .select-data-value > .item,
        .print-preview .ma-data-select.input-sm,
        .print-preview .fm-text.input-sm > .fm-text-input,
        .print-preview .fm-text.input-sm > .fm-text-input + .fm-text-pre + .fm-text-tool > .textbox_unit,
        .print-preview .fm-text.input-sm > .fm-text-input + .fm-text-shadetext + .fm-text-tool > .textbox_unit,
        .print-preview .table-detail > tbody > tr > td,
        .print-preview .fm-checklist.input-sm > .fm-checklist-checkbox,
        .print-preview .fm-checklist.input-sm {
            height: auto !important;
            min-height: 12px;
            height: 12px;
            line-height: 12px;
        }
        .print-preview .fm-group-head .fm-group-head-ltitle {
             font-size: 10px; 
             padding-left: 2px;
         }
        .print-preview .form-container .form-small-title {
            font-size: 12px;
        }
        .print-preview .form-container .form-group {
            margin-bottom: 0px;
        }
        .print-preview .ma-select.single.input-sm > .select-value > .item,
        .print-preview .ma-data-select.single.input-sm > .select-data-value > .item,
        .print-preview .icon, 
        .print-preview [class^='icon-'],
        .print-preview [class*=' icon-'],
        .print-preview .fm-text.input-sm > .fm-text-input + .fm-text-shadetext + .fm-text-tool > .textbox_unit
          {
            font-size: 8px !important;
        } 
        .print-preview input[type='file'], 
        .print-preview input[type='radio'], 
        .print-preview input[type='checkbox'] {
            width: 8px !important;
        }
        .print-preview .form-container .form-label,
        .print-preview .ma-select.input-sm > .select-value,
        .print-preview .fm-text.multiline.readonly pre,
        .print-preview .ma-data-select.single > .select-data-value > .item,
        .print-preview .fm-text.readonly.input-sm .fm-text-shadetext {
            padding: 2px 0px 0px 0px;
            height: inherit;
        }
        .print-preview .fm-group-head {
            margin-top: inherit;
            padding-top: 3px;
        }
        .print-preview .ma-select.single.input-sm > .select-value > .item,
        .print-preview .overflow-singleline  {
            height: inherit;
            line-height: inherit;
            font-size: inherit;
        }

        .print-preview .fm-text.input-sm.readonly > .fm-text-shadetext,
        .print-preview .fm-text.input-sm.disabled > .fm-text-shadetext,
        .print-preview .fm-text.readonly.input-sm,
        .print-preview .ma-select.input-sm > .select-value,
        .print-preview .fm-text.input-sm > .fm-text-input + .fm-text-shadetext + .fm-text-tool > .textbox_unit {
            margin-bottom: 0px;
            vertical-align: inherit;
        }
        .print-preview .table-bordered th,
        .print-preview .table-bordered td  {
            border-width: 1px;
            border-color: black;
          }
        .print-preview .form-container .form-label,
        .print-preview .fm-text.readonly,
        .print-preview .ma-select.readonly,
        .print-preview .ma-data-select.readonly,
        .print-preview hr {
            border-top: 0px;
            border-bottom:1px solid black;
          }
        .print-preview .table-detail .ma-data-select.readonly {
            border-bottom:0px;
        }
        .print-preview .row table { margin-top: 2px;}
 
 
}