<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.0.25</MSDeployServiceURL>
    <DeployIisAppPath>Dfv.Bpm.Test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>shalu\lin.liu</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="False">
          <Destination Path="Data Source=shaappt0001.ad.shalu.com;Initial Catalog=Dfv.Bpm.Test;Persist Security Info=True;User ID=sa;Password=Passw0rd;Packet Size=4096" Name="Data Source=shaappt0001.ad.shalu.com;Initial Catalog=Dfv.Bpm.Test;Persist Security Info=true;User ID=sa;PWD=Passw0rd;Packet Size=4096;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=shaappt0001.ad.shalu.com;Initial Catalog=Dfv_Bpm;Persist Security Info=True;User ID=mc;Password=Infy@123;Packet Size=4096" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=shaappt0001.ad.shalu.com;Initial Catalog=Dfv_Bpm;Persist Security Info=true;User ID=mc;PWD=Infy@123;Packet Size=4096;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Default-Web.config Connection String">
      <ParameterValue>Data Source=shaappt0001.ad.shalu.com;Initial Catalog=Dfv.Bpm.Test;Persist Security Info=true;User ID=sa;PWD=Passw0rd;Packet Size=4096;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>